* {
  font-family: "Montserrat";
	 list-style-type: none;
}
body {
  /* max-width:1200px;
    margin-left:auto;
    margin-right:auto; */
  background: rgb(229, 211, 211);
  background: radial-gradient(
    circle,
    rgba(229, 211, 211, 1) 0%,
    rgba(217, 222, 228, 1) 100%
  );
}

/* Basic styles for the header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo img {
  max-width: 150px;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  margin: 0 10px;
}
.menu ul li a {
  color: #15151d;
  margin: 0 10px;
  text-decoration: none;
}
.menu ul li a:active {
  color: #f6704d;
  text-decoration: line-through;
  text-decoration-color: #f6704d;
}
.menu ul li a:hover {
  color: #f6704d;
  text-decoration: line-through;
  text-decoration-color: #f6704d;
}

.header buttons {
  display: flex;
  align-items: center;
}

.header buttons button {
  margin-left: 10px;
  background-color: #f6704d;
  color: #fff;
}

.header .buttons {
  display: flex;
  gap: 20px;
}
.header .buttons button {
  background-color: #15151d;
  color: #ffffff;
  border: none;

  padding: 10px 10px;
  border-radius: 100px;
  font-family: Poppins;
  font-size: medium;
}
.header .buttons svg {
  width: 15px;
}
.header .buttons span {
  background-color: #15151d;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: row;
  height: 80vh;
}
.hero-text-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-text-div p {
  line-height: 25px;
}
.hero-img-div {
  width: 50%;
  background-image: url(../images/hero-bg.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-img-div2 {
  width: 50%;
  background-image: url(../images/about-us-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-p {
  font-size: 15px;
  margin: 20px 0px 0px 0px;
}
.hero-text-div h1 {
  font-size: 50px;
  margin: 0px;
  color: #15151d;
  font-weight: 800;
}
.hero-btn-div {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.hero-btn-div a {
  margin-right: 10px;
}

.small-title {
  color: #f6704d;
  font-size: 15px;
  margin: 0px 0px 10px 0px;
}
.btn {
  padding: 10px 20px;
  background-color: #15151d;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 7px;
  font-weight: 300;
}
.title h2 {
  text-align: center;
}
@media screen and (max-width: 992px) {
  .hero-text-div {
    width: 100%;
  }
  .hero-img-div {
    width: 100%;
    height: 50vh;
  }
  .hero {
    flex-direction: column;
  }
}

/* Products */
.listProducts a {
  color: unset;
  text-decoration: none;
}
.container {
  width: 900px;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}
.title {
  font-size: xx-large;
  padding: 20px 0;
}
.listProducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProducts .item img {
  width: 90%;
  filter: drop-shadow(0 0px 20px #0009);
}
.listProducts .item {
  background-color: #eeeee6;
  padding: 20px;
  border-radius: 20px;
}
.listProducts .item h2 {
  font-size: x-large;
  font-weight: 500;
}
.listProducts .item .price {
  font-size: large;
}

@media screen and (max-width: 992px) {
  .listProducts {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .listProducts {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* slider */

.scrollProducts {
  display: flex;
  width: max-content;
}
.scrollProducts .item img {
  width: 90%;
  filter: drop-shadow(0 0px 20px #0009);
}
.scrollProducts .item {
  background-color: #eeeee6;
  padding: 20px;
  width: 245px;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  margin: 10px;
  scroll-snap-align: start;
}
.scrollProducts .item h2 {
  font-size: x-large;
  font-weight: 500;
}
.scrollProducts .item .price {
  font-size: large;
}
.scrollProducts a {
  color: unset;
  text-decoration: none;
}
.slider {
  max-width: 1200px;
  margin: auto;
  padding-top: 10px;
  text-align: center;
  overflow: auto;
  margin: 0px auto 50px;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
.slider::-webkit-scrollbar {
  display: none;
}

.direction {
  text-align: center;
}
.direction button {
  font-family: cursive;
  font-weight: bold;
  background-color: #ffffff44;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
  margin: 0 10px;
}
.direction button:hover {
  background-color: #ffffff;
}
#prev {
  background-color: #eee;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
#next {
  background-color: #eee;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 10px;
}
#prev svg {
  width: 15px;
  color: #555454;
}
#next svg {
  width: 15px;
  color: #555454;
}

@media screen and (max-width: 1024px) {
  .item {
    width: calc(33.3vw - 20px);
  }
  .direction {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .item {
    width: calc(50vw - 20px);
  }
  .direction {
    display: none;
  }
}




/*FOOTER*/


/* variables */
:root {
  /* colors */
  --me6-color-primary-hsl: 250, 84%, 54%;
  --me6-color-bg-hsl: 0, 0%, 100%;
  --me6-color-contrast-high-hsl: 230, 7%, 23%;
  --me6-color-contrast-higher-hsl: 230, 13%, 9%;
  --me6-color-contrast-medium-hsl: 225, 4%, 47%;
  --me6-color-contrast-lower-hsl: 240, 4%, 85%;

  /* spacing */
  --me6-space-xs: 0.5rem;
  --me6-space-sm: 0.75rem;
  --me6-space-md: 1.25rem;
  --me6-space-lg: 2rem;
  --me6-space-xl: 3.25rem;

  /* typography */
  --me6-text-base: 1rem;
  --me6-text-sm: 0.833rem;
  --me6-text-xs: 0.694rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --me6-space-xs: 0.75rem;
    --me6-space-sm: 1.125rem;
    --me6-space-md: 2rem;
    --me6-space-lg: 3.125rem;
    --me6-space-xl: 5.125rem;

    /* typography */
    --me6-text-base: 1.25rem;
    --me6-text-sm: 1rem;
    --me6-text-xs: 0.8rem;
  }
}

/* icons */
.me6-icon {
  height: var(--me6-size, 1em);
  width: var(--me6-size, 1em);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

/* component */
.main-footer__logo {
  display: inline-block;
}
.main-footer__logo svg, .main-footer__logo img {
  display: block;
}

.main-footer__link {
  color: hsl(var(--me6-color-contrast-medium-hsl));
  text-decoration: none;
}
.main-footer__link:hover {
  color: hsl(var(--me6-color-contrast-high-hsl));
  text-decoration: underline;
}

.main-footer__social {
  text-decoration: none;
  display: inline-block;
  color: hsl(var(--me6-color-contrast-medium-hsl));
}
.main-footer__social:hover {
  color: hsl(var(--me6-color-contrast-high-hsl));
}
.main-footer__social .me6-icon {
  font-size: 1.2em;
}
@media (min-width: 64rem) {
  .main-footer__social .me6-icon {
    font-size: 1em;
  }
}

/* utility classes */
.me6-block {
  display: block;
}

.me6-gap-xs {
  gap: var(--me6-space-xs);
}

.me6-items-center {
  align-items: center;
}

.me6-flex {
  display: flex;
}

.me6-color-contrast-high {
  --me6-color-o: 1;
  color: hsla(var(--me6-color-contrast-high-hsl), var(--me6-color-o, 1));
}

.me6-flex-wrap {
  flex-wrap: wrap;
}

.me6-color-contrast-medium {
  --me6-color-o: 1;
  color: hsla(var(--me6-color-contrast-medium-hsl), var(--me6-color-o, 1));
}

.me6-text-sm {
  font-size: var(--me6-text-sm);
}

.me6-margin-bottom-sm {
  margin-bottom: var(--me6-space-sm);
}

.me6-margin-top-lg {
  margin-top: var(--me6-space-lg);
}

.me6-padding-y-xs {
  padding-top: var(--me6-space-xs);
  padding-bottom: var(--me6-space-xs);
}

.me6-border-top {
  --me6-border-o: 1;
  border-top: var(--me6-border-width, 1px) var(--me6-border-style, solid) hsla(var(--me6-color-contrast-lower-hsl), var(--me6-border-o, 1));
}

.me6-flex-column {
  flex-direction: column;
}

.me6-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.me6-grid > * {
  min-width: 0;
  grid-column-end: span 12;
}

.me6-gap-y-lg {
  row-gap: var(--me6-space-lg);
}

.me6-max-width-lg {
  max-width: 80rem;
}

.me6-container {
  width: calc(100% - 2*var(--me6-space-md));
  margin-left: auto;
  margin-right: auto;
}

.me6-padding-top-xl {
  padding-top: var(--me6-space-xl);
}

.me6-z-index-1 {
  z-index: 1;
}

.me6-position-relative {
  position: relative;
}

@media(min-width: 32rem){
  .me6-gap-lg\@xs {
    gap: var(--me6-space-lg);
  }

  .me6-col-6\@xs {
    grid-column-end: span 6;
  }
}

@media(min-width: 64rem){
  .me6-text-xs\@md {
    font-size: var(--me6-text-xs);
  }

  .me6-margin-bottom-0\@md {
    margin-bottom: 0;
  }

  .me6-items-center\@md {
    align-items: center;
  }

  .me6-justify-between\@md {
    justify-content: space-between;
  }

  .me6-flex-row\@md {
    flex-direction: row;
  }

  .me6-text-sm\@md {
    font-size: var(--me6-text-sm);
  }

  .me6-text-base\@md {
    font-size: var(--me6-text-base);
  }

  .me6-col-3\@md {
    grid-column-end: span 3;
  }
}

@media(min-width: 80rem){
  .me6-order-1\@lg {
    order: 1;
  }

  .me6-text-right\@lg {
    text-align: right;
  }

  .me6-order-2\@lg {
    order: 2;
  }

  .me6-gap-lg\@lg {
    gap: var(--me6-space-lg);
  }

  .me6-col-3\@lg {
    grid-column-end: span 3;
  }

  .me6-col-9\@lg {
    grid-column-end: span 9;
  }
}



/* BLOG */

.containerb {
	/* CHANGE TO GRID */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	grid-gap: 20px;
	width: 940px;
	max-width: 100%;
	margin: auto;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 300px;
}

.card-header img {
	object-fit: cover;
	height: 200px;
	width: 100%;
}

.card-body {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 20px;
	min-height: 250px;
}

.card-body h4 {
	margin: 10px 0;
}

.card-body p {
	font-size: 13px;
	margin: 0 0 40px;
}

.tag {
	background-color: #fff;
	border-radius: 50px;
	font-size: 12px;
	color: #fff;
	margin: 0;
	padding: 2px 10px;
	text-transform: uppercase;
}

.tag-teal {
	background-color: #92d4e4;
}

.tag-purple {
	background-color: #3d1d94;
}

.tag-pink {
	background-color: #c62bcb;
}

.user {
	display: flex;
	margin-top: auto;
}

.user img {
	border-radius: 50%;
	margin-right: 10px;
	height: 40px;
	width: 40px;
}

.user-info h5 {
	margin: 0;
}

.user-info small {
	color: #888785;
}

@media (max-width: 940px) {
	.container {
		grid-template-columns: 1fr;
	}
}


/*features*/

/* -------------------------------- 

File#: _1_feature-v20
Title: Feature v20
Descr: A list of features with icons
Usage: codyhouse.co/license

-------------------------------- */



/* -------------------------------- 

Icons 

-------------------------------- */

.cd-icon {
  --size: 1em;
  font-size: var(--size);
  height: 1em;
  width: 1em;
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.cd-icon--is-spinning { /* rotate the icon infinitely */
  animation: cd-icon-spin 1s infinite linear;
}

@keyframes cd-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cd-icon use { /* SVG symbols - enable icon color corrections */
  color: inherit;
  fill: currentColor;
}

/* --------------------------------

Component 

-------------------------------- */

.feature-v20 {
  position: relative;
  z-index: 1;
}

.feature-v20__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

.feature-v20__list > * {
  min-width: 0;
}

.feature-v20__item {
  grid-column-end: span 12;
}

@media (min-width: 48rem) {
  .feature-v20__item {
    grid-column-end: span 6;
  }  
}

@media (min-width: 64rem) {
  .feature-v20__item {
    grid-column-end: span 3;
  }
}

.feature-v20__item-title {
  transition: color 0.3s;
}

.feature-v20__icon-wrapper {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.5rem;
  color: hsl(250, 84%, 54%); /* icon color */
  transition: color 0.3s;
}
.feature-v20__icon-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 0 1px hsla(230, 13%, 9%, 0.05);
  z-index: 1;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.3s;
}

.feature-v20__icon {
  --size: 24px;
  z-index: 2;
}

.feature-v20__paragraph {
  color: hsl(240, 4%, 65%);
}

/* -------------------------------- 

Utilities 

-------------------------------- */

.cd-container {
  width: calc(100% - 3rem);
  margin-left: auto;
  margin-right: auto;
}

.cd-max-width-sm {
  max-width: 48rem;
}

.cd-max-width-adaptive-lg {
  max-width: 32rem;
}

@media (min-width: 48rem) {
  .cd-max-width-adaptive-lg {
    max-width: 48rem;
  }
}

@media (min-width: 64rem) {
  .cd-max-width-adaptive-lg {
    max-width: 64rem;
  }
}

@media (min-width: 80rem) {
  .cd-max-width-adaptive-lg {
    max-width: 80rem;
  }
}

.cd-padding-y-xl {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.cd-margin-bottom-xl {
  margin-bottom: 4.5rem;
}

.cd-margin-bottom-2xs {
  margin-bottom: 0.75rem;
}

.cd-text-center {
  text-align: center;
}
