* {
  font-family: "Montserrat";
}
body {
  /* max-width:1200px;
    margin-left:auto;
    margin-right:auto; */
  background: rgb(229, 211, 211);
  background: radial-gradient(
    circle,
    rgba(229, 211, 211, 1) 0%,
    rgba(217, 222, 228, 1) 100%
  );
}

/* Basic styles for the header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo img {
  max-width: 150px;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  margin: 0 10px;
}
.menu ul li a {
  color: #15151d;
  margin: 0 10px;
  text-decoration: none;
}
.menu ul li a:active {
  color: #f6704d;
  text-decoration: line-through;
  text-decoration-color: #f6704d;
}
.menu ul li a:hover {
  color: #f6704d;
  text-decoration: line-through;
  text-decoration-color: #f6704d;
}

.header buttons {
  display: flex;
  align-items: center;
}

.header buttons button {
  margin-left: 10px;
  background-color: #f6704d;
  color: #fff;
}

.header .buttons {
  display: flex;
  gap: 20px;
}
.header .buttons button {
  background-color: #15151d;
  color: #ffffff;
  border: none;

  padding: 10px 10px;
  border-radius: 100px;
  font-family: Poppins;
  font-size: medium;
}
.header .buttons svg {
  width: 15px;
}
.header .buttons span {
  background-color: #15151d;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: row;
  height: 80vh;
}
.hero-text-div {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-text-div p {
  line-height: 25px;
}
.hero-img-div {
  width: 50%;
  background-image: url(../images/hero-bg.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-img-div2 {
  width: 50%;
  background-image: url(../images/about-us-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-p {
  font-size: 15px;
  margin: 20px 0px 0px 0px;
}
.hero-text-div h1 {
  font-size: 50px;
  margin: 0px;
  color: #15151d;
  font-weight: 800;
}
.hero-btn-div {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.hero-btn-div a {
  margin-right: 10px;
}

.small-title {
  color: #f6704d;
  font-size: 15px;
  margin: 0px 0px 10px 0px;
}
.btn {
  padding: 10px 20px;
  background-color: #15151d;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 7px;
  font-weight: 300;
}
.title h2 {
  text-align: center;
}
@media screen and (max-width: 992px) {
  .hero-text-div {
    width: 100%;
  }
  .hero-img-div {
    width: 100%;
    height: 50vh;
  }
  .hero {
    flex-direction: column;
  }
}

/* Products */
.listProducts a {
  color: unset;
  text-decoration: none;
}
.container {
  width: 900px;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}
.title {
  font-size: xx-large;
  padding: 20px 0;
}
.listProducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProducts .item img {
  width: 90%;
  filter: drop-shadow(0 0px 20px #0009);
}
.listProducts .item {
  background-color: #eeeee6;
  padding: 20px;
  border-radius: 20px;
}
.listProducts .item h2 {
  font-size: x-large;
  font-weight: 500;
}
.listProducts .item .price {
  font-size: large;
}

@media screen and (max-width: 992px) {
  .listProducts {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .listProducts {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* slider */

.scrollProducts {
  display: flex;
  width: max-content;
}
.scrollProducts .item img {
  width: 90%;
  filter: drop-shadow(0 0px 20px #0009);
}
.scrollProducts .item {
  background-color: #eeeee6;
  padding: 20px;
  width: 245px;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  margin: 10px;
  scroll-snap-align: start;
}
.scrollProducts .item h2 {
  font-size: x-large;
  font-weight: 500;
}
.scrollProducts .item .price {
  font-size: large;
}
.scrollProducts a {
  color: unset;
  text-decoration: none;
}
.slider {
  max-width: 1200px;
  margin: auto;
  padding-top: 10px;
  text-align: center;
  overflow: auto;
  margin: 0px auto 50px;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
.slider::-webkit-scrollbar {
  display: none;
}

.direction {
  text-align: center;
}
.direction button {
  font-family: cursive;
  font-weight: bold;
  background-color: #ffffff44;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
  margin: 0 10px;
}
.direction button:hover {
  background-color: #ffffff;
}
#prev {
  background-color: #eee;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
#next {
  background-color: #eee;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 10px;
}
#prev svg {
  width: 15px;
  color: #555454;
}
#next svg {
  width: 15px;
  color: #555454;
}

@media screen and (max-width: 1024px) {
  .item {
    width: calc(33.3vw - 20px);
  }
  .direction {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .item {
    width: calc(50vw - 20px);
  }
  .direction {
    display: none;
  }
}
footer {
  width: 100%;
  padding: 20px;
}
footer p {
  color: #15151d;
  text-align: center;
}




/* BLOG */

.containerb {
	/* CHANGE TO GRID */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	grid-gap: 20px;
	width: 940px;
	max-width: 100%;
	margin: auto;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 300px;
}

.card-header img {
	object-fit: cover;
	height: 200px;
	width: 100%;
}

.card-body {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 20px;
	min-height: 250px;
}

.card-body h4 {
	margin: 10px 0;
}

.card-body p {
	font-size: 13px;
	margin: 0 0 40px;
}

.tag {
	background-color: #fff;
	border-radius: 50px;
	font-size: 12px;
	color: #fff;
	margin: 0;
	padding: 2px 10px;
	text-transform: uppercase;
}

.tag-teal {
	background-color: #92d4e4;
}

.tag-purple {
	background-color: #3d1d94;
}

.tag-pink {
	background-color: #c62bcb;
}

.user {
	display: flex;
	margin-top: auto;
}

.user img {
	border-radius: 50%;
	margin-right: 10px;
	height: 40px;
	width: 40px;
}

.user-info h5 {
	margin: 0;
}

.user-info small {
	color: #888785;
}

@media (max-width: 940px) {
	.container {
		grid-template-columns: 1fr;
	}
}
