
<html>
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="author" content="Group 4"> 
        <meta name="description "
        content="A better place for you to shop online"> 
        <title>Product Detail</title> 
        <link rel="stylesheet" type="text/css" href="../../Resources/css/detail.css">
        <link rel="stylesheet" type="text/css" href="../../Resources/css/style.css">
    </head>
    <body>
        <header class="header">
          <div class="logo">
            <img src="../../Resources/images/logo-dark.png" alt="Logo">
          </div>
          <nav class="menu">
            <ul>
              <li><a href="./index.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="./products.html">Products</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
          <div class="buttons">
              <div class="icon-cart">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
                </svg>
                <span>0</span>
            </div>
            <button><span><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
  </svg></span>
                
              </button>
            <button><span><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 11 14H9a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 10 19Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
  </svg></span>
                </button>
            <button> 
                        <span>
                            <svg class="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
                            </svg>
                        </span>
                    </button>
          </div>
        </header>


        
  
        <div class="cartTab">
        <h1>Shopping Cart</h1>
        <div class="listCart">
            
        </div>
        <div class="btn">
            <button class="close">CLOSE</button>
            <button class="checkOut">Check Out</button>
        </div>
    </div>
        <script src="../../Resources/js/app.js"></script>





        
        <div class="container">
        <div class="title">PRODUCT DETAIL</div>
        <div class="detail">
            <div class="image">
                <img src="">
            </div>
            <div class="content">
                <h1 class="name"></h1>
                <div class="price"></div>
                <div class="buttons">
                    <button>Check Out</button>
                    <button>Add To Cart 
                        <span>
                            <svg class="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="description"></div>
            </div>
        </div>

        <div class="title">Similar product</div>
        <div class="listProduct"></div>
    </div>

    

    <script>
        // get datas from file json
        fetch('../../Resources/js/Products.json')
            .then(response => response.json())
            .then(data => {
                products = data;
                showDetail();
        })

        function showDetail(){
    // remove datas default from HTML
        let detail = document.querySelector('.detail');
        let listProduct = document.querySelector('.listProduct');
        let productId =  new URLSearchParams(window.location.search).get('id');
        let thisProduct = products.filter(value => value.id == productId)[0];
        //if there is no product with id = productId => return to home page
        if(!thisProduct){
            window.location.href = "/";
        }
 
        detail.querySelector('.image img').src = thisProduct.image;
        detail.querySelector('.name').innerText = thisProduct.name;
        detail.querySelector('.price').innerText = thisProduct.price + ' Birr';
        detail.querySelector('.description').innerText = '$' + thisProduct.description;


        (products.filter(value => value.id != productId)).forEach(product => {
            // let newProduct = document.createElement('a');
            // // newProduct.href = '../../App/views/detail.html?id=' + product.id;
            // newProduct.classList.add('item');
            // newProduct.innerHTML = 
            // `<img src="${product.image}" alt="">
            // <h2><a href = '../../App/views/detail.html?id=${product.id}'>${product.name}</a></h2>
            // <div class="price">${product.price} Birr</div>
            // <button class="addCart">Add To Cart</button>`;
            // listProduct.appendChild(newProduct);

            
            let newProduct = document.createElement('div');
                newProduct.dataset.id = product.id;
                newProduct.classList.add('item');
                newProduct.innerHTML = 
                `<img src="${product.image}" alt="">
                <h2><a href = '../../App/views/detail.html?id=${product.id}'>${product.name}</a></h2>
                <div class="price">${product.price} Birr</div>
                <button class="addCart">Add To Cart</button>`;
                listProduct.appendChild(newProduct);
        });
            listProduct.addEventListener('click', (event) => {
        let positionClick = event.target;
        if(positionClick.classList.contains('addCart')){
            let id_product = positionClick.parentElement.dataset.id;
            addToCart(id_product);
        }
    });
    }
        

    </script>
</body>
</html>
